section.about 
  .container  
    +blockBox("What we do", "Story about us", " Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eius non eveniet perspiciatis accusantium suscipit aspernatur fuga fugiat rem, vel fugit, aliquam voluptates. Error corporis placeat, provident dignissimos ab sunt.")
    .about-list
      +aboutItem("../../images/img-about1.png", 'Super team', 'fa fa-users')
      +aboutItem("../../images/img-about2.png", 'Super team', 'fa fa-users')
      +aboutItem("../../images/img-about3.png", 'Super team', 'fa fa-users')
      